.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.096191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.904785;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.584000px;}
.ls1{letter-spacing:-0.480000px;}
.ls4{letter-spacing:-0.203600px;}
.ls5{letter-spacing:-0.105600px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.134400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-2.454720px;}
._1{margin-left:-1.192320px;}
._8{width:1.658240px;}
._a{width:2.929920px;}
._b{width:4.462080px;}
._11{width:5.475840px;}
._d{width:8.037120px;}
._16{width:13.159680px;}
._17{width:14.307840px;}
._6{width:15.367680px;}
._7{width:16.523840px;}
._14{width:18.354560px;}
._13{width:20.755200px;}
._18{width:22.477440px;}
._c{width:24.503520px;}
._9{width:25.701120px;}
._12{width:27.025920px;}
._10{width:29.947520px;}
._19{width:37.447680px;}
._e{width:41.863680px;}
._0{width:55.950720px;}
._5{width:63.067520px;}
._2{width:71.583360px;}
._15{width:75.999360px;}
._f{width:78.648960px;}
._4{width:96.187520px;}
.fc1{color:rgb(48,47,45);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.y0{bottom:0.000000px;}
.y8{bottom:2.520000px;}
.y7{bottom:15.120000px;}
.y6{bottom:27.720000px;}
.y1{bottom:38.280000px;}
.y5{bottom:40.460000px;}
.y4{bottom:53.060000px;}
.y3{bottom:65.780000px;}
.y35{bottom:67.440000px;}
.y34{bottom:82.080000px;}
.y33{bottom:96.600000px;}
.y66{bottom:97.800000px;}
.y32{bottom:111.120000px;}
.y65{bottom:112.320000px;}
.y31{bottom:125.640000px;}
.y64{bottom:126.860000px;}
.y30{bottom:140.180000px;}
.y63{bottom:141.500000px;}
.y2f{bottom:154.820000px;}
.y62{bottom:156.020000px;}
.y2e{bottom:169.340000px;}
.y61{bottom:170.540000px;}
.y2d{bottom:183.860000px;}
.y60{bottom:185.060000px;}
.y2c{bottom:198.380000px;}
.y5f{bottom:199.700000px;}
.y2b{bottom:213.020000px;}
.y5e{bottom:214.220000px;}
.y2a{bottom:227.540000px;}
.y5d{bottom:228.740000px;}
.y29{bottom:242.060000px;}
.y5c{bottom:243.260000px;}
.y28{bottom:256.580000px;}
.y5b{bottom:257.780000px;}
.y27{bottom:271.100000px;}
.y5a{bottom:272.420000px;}
.y26{bottom:285.770000px;}
.y59{bottom:286.970000px;}
.y25{bottom:300.290000px;}
.y58{bottom:301.490000px;}
.y24{bottom:314.810000px;}
.y57{bottom:316.010000px;}
.y23{bottom:329.330000px;}
.y56{bottom:330.650000px;}
.y22{bottom:343.970000px;}
.y55{bottom:345.170000px;}
.y21{bottom:358.490000px;}
.y54{bottom:359.690000px;}
.y20{bottom:373.010000px;}
.y53{bottom:374.210000px;}
.y1f{bottom:387.530000px;}
.y52{bottom:388.730000px;}
.y1e{bottom:402.050000px;}
.y51{bottom:403.370000px;}
.y1d{bottom:416.690000px;}
.y50{bottom:417.890000px;}
.y1c{bottom:431.210000px;}
.y4f{bottom:432.410000px;}
.y1b{bottom:445.750000px;}
.y4e{bottom:446.950000px;}
.y1a{bottom:460.270000px;}
.y4d{bottom:461.590000px;}
.y19{bottom:474.910000px;}
.y4c{bottom:476.110000px;}
.y18{bottom:489.430000px;}
.y4b{bottom:490.630000px;}
.y17{bottom:503.950000px;}
.y4a{bottom:505.150000px;}
.y16{bottom:518.470000px;}
.y49{bottom:519.670000px;}
.y15{bottom:532.990000px;}
.y48{bottom:534.310000px;}
.y14{bottom:547.630000px;}
.y47{bottom:548.830000px;}
.y13{bottom:562.150000px;}
.y46{bottom:563.350000px;}
.y12{bottom:576.670000px;}
.y45{bottom:577.870000px;}
.y11{bottom:591.190000px;}
.y44{bottom:592.510000px;}
.y10{bottom:605.740000px;}
.y43{bottom:607.060000px;}
.yf{bottom:620.380000px;}
.y42{bottom:621.580000px;}
.ye{bottom:634.900000px;}
.y41{bottom:636.100000px;}
.yd{bottom:649.420000px;}
.y40{bottom:650.620000px;}
.yc{bottom:662.140000px;}
.y3f{bottom:665.260000px;}
.y3e{bottom:679.780000px;}
.yb{bottom:680.980000px;}
.y3d{bottom:694.300000px;}
.ya{bottom:699.700000px;}
.y3c{bottom:708.820000px;}
.y9{bottom:720.220000px;}
.y3b{bottom:723.340000px;}
.y2{bottom:730.540000px;}
.y3a{bottom:737.980000px;}
.y39{bottom:752.500000px;}
.y38{bottom:767.040000px;}
.y37{bottom:781.560000px;}
.y36{bottom:796.200000px;}
.h4{height:30.963750px;}
.h1{height:43.922812px;}
.h3{height:45.906562px;}
.h5{height:46.618125px;}
.h2{height:75.984000px;}
.h0{height:841.920000px;}
.w3{width:155.780000px;}
.w2{width:311.570000px;}
.w1{width:595.319991px;}
.w0{width:595.320000px;}
.x0{left:0.000009px;}
.x5{left:5.400000px;}
.x2{left:85.104000px;}
.x6{left:150.270000px;}
.x9{left:226.969991px;}
.x8{left:275.329991px;}
.x3{left:306.286000px;}
.xa{left:319.029991px;}
.x4{left:396.670000px;}
.x1{left:547.419991px;}
.x7{left:552.939991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.778667pt;}
.ls1{letter-spacing:-0.640000pt;}
.ls4{letter-spacing:-0.271467pt;}
.ls5{letter-spacing:-0.140800pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.179200pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-3.272960pt;}
._1{margin-left:-1.589760pt;}
._8{width:2.210987pt;}
._a{width:3.906560pt;}
._b{width:5.949440pt;}
._11{width:7.301120pt;}
._d{width:10.716160pt;}
._16{width:17.546240pt;}
._17{width:19.077120pt;}
._6{width:20.490240pt;}
._7{width:22.031787pt;}
._14{width:24.472747pt;}
._13{width:27.673600pt;}
._18{width:29.969920pt;}
._c{width:32.671360pt;}
._9{width:34.268160pt;}
._12{width:36.034560pt;}
._10{width:39.930027pt;}
._19{width:49.930240pt;}
._e{width:55.818240pt;}
._0{width:74.600960pt;}
._5{width:84.090027pt;}
._2{width:95.444480pt;}
._15{width:101.332480pt;}
._f{width:104.865280pt;}
._4{width:128.250027pt;}
.fs0{font-size:58.880000pt;}
.y0{bottom:0.000000pt;}
.y8{bottom:3.360000pt;}
.y7{bottom:20.160000pt;}
.y6{bottom:36.960000pt;}
.y1{bottom:51.040000pt;}
.y5{bottom:53.946667pt;}
.y4{bottom:70.746667pt;}
.y3{bottom:87.706667pt;}
.y35{bottom:89.920000pt;}
.y34{bottom:109.440000pt;}
.y33{bottom:128.800000pt;}
.y66{bottom:130.400000pt;}
.y32{bottom:148.160000pt;}
.y65{bottom:149.760000pt;}
.y31{bottom:167.520000pt;}
.y64{bottom:169.146667pt;}
.y30{bottom:186.906667pt;}
.y63{bottom:188.666667pt;}
.y2f{bottom:206.426667pt;}
.y62{bottom:208.026667pt;}
.y2e{bottom:225.786667pt;}
.y61{bottom:227.386667pt;}
.y2d{bottom:245.146667pt;}
.y60{bottom:246.746667pt;}
.y2c{bottom:264.506667pt;}
.y5f{bottom:266.266667pt;}
.y2b{bottom:284.026667pt;}
.y5e{bottom:285.626667pt;}
.y2a{bottom:303.386667pt;}
.y5d{bottom:304.986667pt;}
.y29{bottom:322.746667pt;}
.y5c{bottom:324.346667pt;}
.y28{bottom:342.106667pt;}
.y5b{bottom:343.706667pt;}
.y27{bottom:361.466667pt;}
.y5a{bottom:363.226667pt;}
.y26{bottom:381.026667pt;}
.y59{bottom:382.626667pt;}
.y25{bottom:400.386667pt;}
.y58{bottom:401.986667pt;}
.y24{bottom:419.746667pt;}
.y57{bottom:421.346667pt;}
.y23{bottom:439.106667pt;}
.y56{bottom:440.866667pt;}
.y22{bottom:458.626667pt;}
.y55{bottom:460.226667pt;}
.y21{bottom:477.986667pt;}
.y54{bottom:479.586667pt;}
.y20{bottom:497.346667pt;}
.y53{bottom:498.946667pt;}
.y1f{bottom:516.706667pt;}
.y52{bottom:518.306667pt;}
.y1e{bottom:536.066667pt;}
.y51{bottom:537.826667pt;}
.y1d{bottom:555.586667pt;}
.y50{bottom:557.186667pt;}
.y1c{bottom:574.946667pt;}
.y4f{bottom:576.546667pt;}
.y1b{bottom:594.333333pt;}
.y4e{bottom:595.933333pt;}
.y1a{bottom:613.693333pt;}
.y4d{bottom:615.453333pt;}
.y19{bottom:633.213333pt;}
.y4c{bottom:634.813333pt;}
.y18{bottom:652.573333pt;}
.y4b{bottom:654.173333pt;}
.y17{bottom:671.933333pt;}
.y4a{bottom:673.533333pt;}
.y16{bottom:691.293333pt;}
.y49{bottom:692.893333pt;}
.y15{bottom:710.653333pt;}
.y48{bottom:712.413333pt;}
.y14{bottom:730.173333pt;}
.y47{bottom:731.773333pt;}
.y13{bottom:749.533333pt;}
.y46{bottom:751.133333pt;}
.y12{bottom:768.893333pt;}
.y45{bottom:770.493333pt;}
.y11{bottom:788.253333pt;}
.y44{bottom:790.013333pt;}
.y10{bottom:807.653333pt;}
.y43{bottom:809.413333pt;}
.yf{bottom:827.173333pt;}
.y42{bottom:828.773333pt;}
.ye{bottom:846.533333pt;}
.y41{bottom:848.133333pt;}
.yd{bottom:865.893333pt;}
.y40{bottom:867.493333pt;}
.yc{bottom:882.853333pt;}
.y3f{bottom:887.013333pt;}
.y3e{bottom:906.373333pt;}
.yb{bottom:907.973333pt;}
.y3d{bottom:925.733333pt;}
.ya{bottom:932.933333pt;}
.y3c{bottom:945.093333pt;}
.y9{bottom:960.293333pt;}
.y3b{bottom:964.453333pt;}
.y2{bottom:974.053333pt;}
.y3a{bottom:983.973333pt;}
.y39{bottom:1003.333333pt;}
.y38{bottom:1022.720000pt;}
.y37{bottom:1042.080000pt;}
.y36{bottom:1061.600000pt;}
.h4{height:41.285000pt;}
.h1{height:58.563750pt;}
.h3{height:61.208750pt;}
.h5{height:62.157500pt;}
.h2{height:101.312000pt;}
.h0{height:1122.560000pt;}
.w3{width:207.706667pt;}
.w2{width:415.426667pt;}
.w1{width:793.759988pt;}
.w0{width:793.760000pt;}
.x0{left:0.000012pt;}
.x5{left:7.200000pt;}
.x2{left:113.472000pt;}
.x6{left:200.360000pt;}
.x9{left:302.626655pt;}
.x8{left:367.106655pt;}
.x3{left:408.381333pt;}
.xa{left:425.373322pt;}
.x4{left:528.893333pt;}
.x1{left:729.893322pt;}
.x7{left:737.253322pt;}
}
